.main{
	height: auto;
	width: 490px;
	border: 1px solid;
	border-radius: 6px;
	border-color: black;
	color: black;
	background-color: skyblue;
	font-family: Verdana, Geneva, sans-serif;
}

.main div {
	margin-top: 8px;
	margin-bottom: 5px;
}

#lcd {
	height: auto;
	width: 450px;
	color: black;
	border-style: none;
	background-color: ghostwhite;
	margin: 10px 0px 10px 0px;
	text-align: right;
	font-size: 3.0em;
}

button {
	color: black;
	border-radius: 12px;
	border-style: none;
	margin: 1px 1px 1px 1px;
	width: 60px;
	height: 60px;
	font-size: 2.0em;
}

#button_sci button {
	background-color: #AAAAAA;
}

#button_calc button {
	background-color: seagreen;	
}

#clear, #del, #equal {
	background-color: dimgray !important;
}

#sign, #powerY, #add, #sub, #mul, #div {
	background-color: gray !important;
}
